{
  "root": true,
  "env": {
    "browser": true
  },
  // eslint:recommended 代表启用eslint推荐的规则
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "sourceType": "module",
    "ecmaVersion": 6,
    "requireConfigFile": false // 是否需要babel的配置文件（.babelrc）
  },
  "rules": {
    "no-console": "warn", // 禁用 console
    "vue/multi-word-component-names": "off", // 关闭组件的命名规则校验
    "vue/v-slot-style": "off" // 关闭插槽的强制样式
  }
}
